* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.container {
	padding: 20px;
}

.nav-wrapper {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	background-color: #4C15E3;
	align-items: center;
	flex-wrap: wrap;
}

.nav-wrapper ul {
	display: flex;
	list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-wrapper a, .nav-wrapper button {
		display: block;
	 color: white;
	 text-align: center;
	 padding: 14px 16px;
	 text-decoration: none;
	 font-size: 16px;
	 font-family: sans-serif;
}

a.brand-logo {
	font-size: 24px;
}

.nav-wrapper button {
	background: none;
	border: none;
}

.nav-wrapper a:hover, .nav-wrapper button:hover {
  background-color: #3609DB;
	cursor: pointer;
}

button {
	cursor: pointer;
}

.card-list {
	display: flex;
	margin-top: 10px;
	flex-wrap: wrap;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
	padding: 16px;
	margin-right: 10px;
	margin-top: 10px;
	width: 30%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

input, select {
	width: 100%;
	padding: 5px 10px;
  margin: 8px 0;
	border: 2px solid #ddd;
	border-radius: 10px;
	background-color: #f1f1f1;
	font-size: 16px;
}

label {
	font-size: 20px;
	color: #333;
	font-weight: bold;
	font-family: sans-serif;
	margin-top: 10px;
}

.styled-button {
  background-color: #6002EE; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
	border-radius: 10px;
	margin-top: 10px;
	margin-right: 10px;
	text-decoration: none;
}

.styled-button:disabled {
	background-color: #ddd;
	cursor: auto;
}

.welcome {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 300px;
}

.welcome h3 {
	font-size: 20px;
}
